doctype
html
    head
        style.
            html, body, #map {
                width: 100%;
                height: 100%;
                overflow: hidden;
                margin: 0;
                padding: 0;
            }
    body
        div#map
        script(src='/assets/js/libs/zepto.min.js')
        script(src='/socket.io/socket.io.js')
        script(src='/assets/js/user.js')
        script(src='https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js')
        script(src='https://maps.googleapis.com/maps/api/js?key=#{mapkey}&callback=initMap')